{% extends 'base.html.twig' %}

{% block title %}HomeWorkToGether{% endblock %}

{% block body %}
    <div class="container">
        <h1>Lorem Josselin dolor sit amet, consectetur adipisicing elit.</h1>
        <div class="row">
            <div class="col-lg-6">
                <img src="pictures/rack.jpg" alt="rack" width="500px">
            </div>
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aperiam doloremque eligendi
                    eum,
                    explicabo facere inventore iusto magnam natus nulla placeat quibusdam quidem recusandae reiciendis
                    sit
                    sunt ut voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi
                    consectetur
                    obcaecati quia reiciendis ut. Ab beatae dolorum et, eveniet incidunt, mollitia natus necessitatibus,
                    nisi reiciendis sunt totam ut voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus ad atque blanditiis est excepturi facere impedit, inventore iusto minima nulla odio
                    praesentium, quis quos ratione recusandae rem temporibus unde voluptates. </p>
            </div>
        </div>
    </div>
{% endblock %}
