{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Votre problème rencontrer</h1>
    {{form(form)}}
</div>
{% endblock %}
